<div style="width: 500px; padding-top: 130px;" class="container">
  <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    
    <!-- Username -->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" class="form-control" formControlName="username" required>
      <span *ngIf="username?.invalid && username?.touched">
        <p style="color: red;">Invalid username</p>
      </span>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" required>
      <span *ngIf="password?.invalid && password?.touched">
        <p style="color: red;">Invalid password</p>
      </span>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">
      Sign in
    </button>
  </form>

  <!-- Error message -->
  <h6 *ngIf="invalidCredentials" class="mb-3" style="color: red;">
    Username / password is wrong
  </h6>
</div>
