<div style="width: 800px; margin-left: 100px; margin-top: 30px;">
    <h4>Fill the details:</h4>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
              <td><label style="margin-right: 30px;"
                 for="empId" class="form-label">Employee Id</label></td>
              <td><input class = "form-control" type = "number"  formControlName="employeeId"  placeholder="Ex: 100001" required></td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.employeeId.invalid && addEmployeeForm.controls.employeeId.touched">
                    <h6 style="color: red;">employee Id's length must be 6</h6>
                  </span>
                </td>
            </tr>
            <tr>
                <td><label style="margin-right: 30px;"
                   for="firstName" class="form-label">First Name</label></td>
                <td><input class = "form-control" type = "text" formControlName="firstName"></td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.firstName.invalid && (addEmployeeForm.controls.firstName.touched || addEmployeeForm.controls.firstName.dirty)">
                    <h6 style="color: red;">first name must consist of alphabets of maximum length 10</h6>
                  </span>
                </td>
              </tr>
              <tr>
                <td><label style="margin-right: 30px;"
                   for="lastName" class="form-label">Last Name</label></td>
                <td><input class = "form-control" type = "text"  formControlName="lastName"></td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.lastName.invalid && (addEmployeeForm.controls.lastName.touched || addEmployeeForm.controls.lastName.dirty)">
                    <h6 style="color: red;">last name must consist of alphabets of maximum length 10</h6>
                  </span>
                </td>
              </tr>
              <tr>
                <td><label style="margin-right: 30px;"for="phoneNumber"class="form-label">Phone Number</label></td>
                <td><input class = "form-control" type = "text"  formControlName="phoneNumber"></td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.phoneNumber.errors?.['pattern'] && (addEmployeeForm.controls.phoneNumber.touched && addEmployeeForm.controls.phoneNumber.invalid)">
                    <h6 style="color: red;">phone number can have 10 digits</h6>
                  </span>                  
                </td>
              </tr>
              <tr>
                <td><label style="margin-right: 30px;"
                   for="emailId" class="form-label">Email Id</label></td>
                <td><input class = "form-control" type = "text"  formControlName="emailId" placeholder="abs@cognizant.com"></td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.emailId.invalid && (addEmployeeForm.controls.emailId.touched)">
                    <h6 style="color: red;">invalid email address</h6>
                  </span>
                </td>
              </tr>
            <tr>
              <td><label style="margin-right: 30px;" for = "empId" class="form-label">Grades Id</label></td>
              <td>
                <select class="form-control"name = "gradeId" formControlName="gradeId">
                  <option *ngFor="let gradeId of grade" value={{gradeId.identification}}>{{gradeId.identification}}</option>
              </select>
              </td>
              <td>
                <span *ngIf = "addEmployeeForm.controls.gradeId.invalid && (addEmployeeForm.controls.gradeId.touched)">
                  <h6 style="color: red;">select grades</h6>
                </span>
              </td>
            </tr>
            <tr>
                <td><label style="margin-right: 30px;"
                    for="role" class="form-label">Role</label></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <label ><input  type="radio" formControlName="role" value="HR" >Hr</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label ><input type="radio" formControlName="role" value="EMPLOYEES" >Employee</label>                            
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                <label><input type="radio" formControlName="role" value="TRAVELDESKEXC">Travel Desk Executive</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                  <span *ngIf = "addEmployeeForm.controls.role.invalid && (addEmployeeForm.controls.role.touched)">
                    <h6 style="color: red;">select role</h6>
                  </span>
                </td>
            </tr>
            <tr>
              <td><button type="submit" class = "btn btn-dark" [disabled]="addEmployeeForm.invalid">Submit</button></td>
              <td><button type="reset" value="Reset" class = "btn btn-dark" (click)="reset()">Reset</button></td>
            </tr>
          </table>
        
    </form>
    <div style = "margin-top: 15px;"[hidden]="!submitted">
      <h6 style="color:red" *ngIf="ifError && check;else elseBlock">{{errorMessage}}</h6>
    </div>
</div>
  <ng-template #elseBlock>
   <h6 *ngIf="check" style="color: green;">Added Successfully...</h6>
  </ng-template>